.git
.gitignore
node_modules
coverage
playwright-report
test-results
*.log
dist
applications/
git_guide.md
mypy.ini

tests/
vitest.config.ts
vitest.setup.ts
Docs/
docs/
README.md
*.md
eslint.config.mjs
.prettierrc
.prettierignore
out/
